{{- /* Minimal header - rdegges style */}}
<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ .Site.Title }} (Alt + H)">
                {{- .Site.Title -}}
            </a>
        </div>
        <ul id="menu" class="menu-inline">
            {{- range .Site.Menus.main }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
