---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- homepage -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-7141529173730322"
         data-ad-slot="2234097830"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {{ content }}
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">Posted on {{ page.date | date_to_string }}.</time>

  {% include share-posts.html %}

</article>
{% include disqus.html disqus_identifier=page.disqus_identifier %}
